* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}
body {
  background-color: #23242a;
}
.courses {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 40vh;
}
.courses a {
  padding: 30px;
  border: 2px solid;
  border-color: #ff2770;
  background: none;
  font-size: 30px;
  background-color: lightskyblue;
  text-decoration: none;
}
.chose {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  font-size: 30px;
  color: #ff2770;
  text-transform: capitalize;
}
.chose p {
  border: 3px solid;
  color: black;
  background-color: #ff2770;
  padding: 10px;
  background-color: lightskyblue;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-name: move;
  border-radius: 10px / 30px;
}
@keyframes move {
  0% {
    border-color: #ff2770;
    text-align: center;
    font-size: 15px;
  }
  25% {
    border-color: lightskyblue;
    text-align: center;
    font-size: 25px;
  }
  50% {
    border-color: #ff2770;
    text-align: center;
  }
  75% {
    border-color: lightskyblue;
    transform: rotateX(350deg);
  }
  90% {
    border-color: #ff2770;
    text-align: center;
  }
  100% {
    border-color: lightskyblue;
  }
}
